<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,1268},{412,304}}</string>
                <key>offset</key>
                <string>{-23,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,900},{412,304}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3436,534},{484,338}}</string>
                <key>offset</key>
                <string>{-23,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,901},{484,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{780,336}}</string>
                <key>offset</key>
                <string>{-24,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,902},{780,336}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,2},{526,404}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,834},{526,404}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,1144},{476,336}}</string>
                <key>offset</key>
                <string>{-23,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,903},{476,336}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2108,782},{484,338}}</string>
                <key>offset</key>
                <string>{-23,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,902},{484,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,612},{484,338}}</string>
                <key>offset</key>
                <string>{-23,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,900},{484,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,408},{484,338}}</string>
                <key>offset</key>
                <string>{-23,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,900},{484,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,272},{484,338}}</string>
                <key>offset</key>
                <string>{-24,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,900},{484,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>body/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3588,194},{486,338}}</string>
                <key>offset</key>
                <string>{-23,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,900},{486,338}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,854}}</string>
                <key>offset</key>
                <string>{-22,480}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,53},{560,854}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{778,778}}</string>
                <key>offset</key>
                <string>{-23,443}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{778,778}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1640},{780,780}}</string>
                <key>offset</key>
                <string>{-24,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3258},{780,780}}</string>
                <key>offset</key>
                <string>{-24,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2476},{780,780}}</string>
                <key>offset</key>
                <string>{-24,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{780,780}}</string>
                <key>offset</key>
                <string>{-24,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,858},{780,780}}</string>
                <key>offset</key>
                <string>{-24,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,784},{780,778}}</string>
                <key>offset</key>
                <string>{-24,443}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,128},{780,778}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{780,780}}</string>
                <key>offset</key>
                <string>{-24,443}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,127},{780,780}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>head/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{542,834}}</string>
                <key>offset</key>
                <string>{-24,468}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,75},{542,834}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,2},{78,594}}</string>
                <key>offset</key>
                <string>{432,609}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{933,54},{78,594}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,82},{188,486}}</string>
                <key>offset</key>
                <string>{393,597}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{839,120},{188,486}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,938},{188,484}}</string>
                <key>offset</key>
                <string>{420,607}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{866,111},{188,484}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3436,874},{188,484}}</string>
                <key>offset</key>
                <string>{440,554}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{886,164},{188,484}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,748},{188,484}}</string>
                <key>offset</key>
                <string>{436,554}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{882,164},{188,484}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3588,2},{190,488}}</string>
                <key>offset</key>
                <string>{417,433}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{862,283},{190,488}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2932,1128},{176,482}}</string>
                <key>offset</key>
                <string>{431,553}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{883,166},{176,482}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1566},{194,404}}</string>
                <key>offset</key>
                <string>{418,628}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{861,130},{194,404}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3436,1064},{188,482}}</string>
                <key>offset</key>
                <string>{437,553}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{883,166},{188,482}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>weapon/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,952},{190,482}}</string>
                <key>offset</key>
                <string>{436,589}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{881,130},{190,482}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26dc90dea6a26e476bacd03cafff376d$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
